{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="mb-4">
        <small class="text-muted">Quarto > Dados quarto</small>
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="fw-bold m-0">Quarto {{quarto.identificacao}}</h1>
            <div class="d-flex gap-3">
                <button type="button" class="btn btn-primary" command="show-modal"
                commandfor="modalEditarQuarto">Editar</button>
                <a href="{% url 'quarto:desativar_quarto' quarto.id %}" class="btn btn-dark px-4">Desativar quarto</a>
            </div>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="card border-primary shadow-sm mb-3">
            <div class="card-header bg-primary-subtle">
                <strong>Detalhes e histórico de ocupação</strong>
            </div>
            <div class="card-body bg-body-tertiary">
                <div class="row mb-3">
                    <div class="col-md-3">
                        <small class="text-muted d-block">Status:</small>
                        <div class="border-bottom pb-1 fw-semibold">
                            {% if quarto.status %}
                            <span class="text-success fw-bold">Quarto ativo</span>
                            {% else %}
                            <span class="text-danger fw-bold">Quarto desativado</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <small class="text-muted d-block">Total de vagas:</small>
                        <div class="border-bottom pb-1 fw-semibold">
                            {{ quarto.quantidadeVagas }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <small class="text-muted d-block">Vagas Livres:</small>
                        <div class="border-bottom pb-1 fw-semibold">
                            {% if quarto.vagasLivres > 0 %}
                            <span class="text-success fw-bold">{{ quarto.vagasLivres }}</span>
                            {% else %}
                            <span class="text-danger fw-bold">Lotado</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <hr>
                <strong>Ocupações Atuais</strong>
                {% if alocacoes_ativas %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Apoio</th>
                            <th>Paciente</th>
                            <th>Entrada</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for alocacao in alocacoes_ativas %}
                        <tr>

                            <td>
                                <a href="{% url 'apoio:detalhe' alocacao.hospedagem.apoio.id %}">
                                    #{{ alocacao.hospedagem.apoio.id }}
                                </a>
                            </td>
                            <td>
                                {{ alocacao.hospedagem.apoio.paciente }}
                            </td>
                            <td>
                                {{ alocacao.inicioLocacao }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="text-muted">
                    Nenhuma ocupação ativa
                </p>
                {% endif %}
            </div>
        </div>
        <div class="card border-primary shadow-sm">
            <div class="card-header bg-primary-subtle">
                <strong>Histórico do Quarto</strong>
            </div>
            <div class="card-body bg-body-tertiary">
                {% if historico %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Apoio</th>
                            <th>Paciente</th>
                            <th>Incio</th>
                            <th>Fim</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for alocacao in historico %}
                        <tr>
                            <td>
                                <a href="{% url 'apoio:detalhe' alocacao.hospedagem.apoio.id %}">
                                    #{{ alocacao.hospedagem.apoio.id }}
                                </a>
                            </td>
                            <td>
                                {{ alocacao.hospedagem.apoio.paciente }}
                            </td>
                            <td>
                                {{ alocacao.inicioLocacao }}
                            </td>
                            <td>
                                {{ alocacao.fimLocacao|default:"Atual" }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="text-muted">Sem histórico</p>
                {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
<dialog id="modalEditarQuarto">
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for erro in form.non_field_errors %}
                {{ erro }}
            {% endfor %}
        </div>
    {% endif %}
    <h4>Editar Quarto</h4>
    <form method="post">
        {% csrf_token %}
        <div class="card-body mb-3">
            <div class="row g-3 align-items-start mb-3">
                <div class="col-md-12">
                    <label class="form-label">* Identificação do quarto:</label>
                    {{ form.identificacao }}
                </div>
            </div>
            <div class="row g-3 align-items-start">
                <div class="col-md-12">
                    <label class="form-label">* Quantidade de vagas:</label>
                    {{ form.quantidadeVagas }}
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end gap-2">
            <button 
                type="button" 
                class="btn btn-secondary"
                data-url="{% url 'quarto:detalhe_quarto' quarto.id %}"
                onclick="window.location.href=this.dataset.url">
                Cancelar
            </button>
            <button type="submit" class="btn btn-primary">
                Salvar
            </button>
        </div>
    </form>
</dialog>
{% if form.non_field_errors %}
<script>
document.getElementById("modalEditarQuarto").showModal();
</script>
{% endif %}
{% endblock %}