{% extends "base.html" %}
{% load static %}
{% block content %}
<body class="d-flex justify-content-start m-0 p-0">
    <div class="container-fluid w-100 vh-100 overflow-auto m-0 p-4" style="background: rgb(242,242,242);">
        <div class="row m-0 p-0">
            <div class="col m-0 p-2"><small class="m-0 p-0">Quartos &gt; Quartos ativos</small>
                <h2 class="fw-bold">Quartos ativos</h2>
            </div>
            <div class="col d-flex justify-content-end align-items-center m-0 p-2"><button
                    class="btn btn-primary bg-dark border-0" type="button">Ver desativados</button></div>
        </div>
        <div class="row bg-light rounded-2 border-1 shadow d-flex w-100 justify-content-center m-0 p-0 mt-3 pt-2 pb-2">
            {% for quarto in quartos %}
            <div class="col-2 bg-body-secondary border rounded-2 border-1 border-secondary-subtle d-flex flex-column m-2 p-2">
                <div class="d-flex flex-column justify-content-center align-items-center m-0 p-0">
                    <img width="200" height="80" src="{% static 'assets/img/quarto.png' %}" class="border rounded-2 w-100 m-0 p-0"/>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center m-0 p-0">
                    <small>Quarto</small>
                    <span class="fs-5 fw-bolder text-start d-flex m-0 p-0">{{ quarto.identificacao }}</span>
                </div>
                <div class="d-flex flex-column align-items-start m-0 p-0 mt-1">
                    <hr class="w-100 m-0 p-0 pt-1 pb-1">
                    <span class="fw-medium m-0 p-0">Total de vagas: {{ quarto.quantidadeVagas }}</span>
                    <span class="fw-medium m-0 p-0"><strong>Vagas livres: {{ quarto.vagasLivres }}</strong></span>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center gap-2 m-0 p-0 mt-1 pt-2">
                    <a href="{% url 'quarto:detalhe_quarto' quarto.id %}" class="btn btn-primary m-0 p-1" type="button">Acessar</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}