{% extends "base.html" %}
{% load static %}
{% block content %}

<body class="d-flex flex-row m-0 p-0">
    <div class="container-fluid w-100 vh-100 overflow-auto m-0 p-4" style="background: rgb(242,242,242);">
        <div class="row m-0 p-0">
            <div class="col m-0 p-2"><small class="m-0 p-0">Apoios &gt; Apoio</small>
                <h2 class="fw-bold">Apoio nº {{apoio.id}}</h2>
            </div>
            <div class="col d-flex flex-row justify-content-end align-items-center gap-2 m-0 p-2">
                {% if apoio.checkOut %}
                <a href="{% url 'apoio:relatorio_apoio' apoio.id %}" class="btn btn-primary bg-success border-0" type="button">Gerar relatório</a>
                {% endif %}
                <a href="{% url 'apoio:editar_apoio' apoio.id %}" class="btn btn-primary bg-primary border-0" type="button">Editar apoio</a>
            </div>
        </div>
        <div class="row bg-light rounded-2 border-1 shadow d-flex w-100 justify-content-center m-0 p-0 mt-3">
            <div class="col border rounded-2 m-0 p-0">
                <div class="row bg-dark-subtle border rounded-2 m-0 p-1">
                    <div class="col">
                        <div class="fs-5 fw-bold"><span class="m-0 p-0">Dados do apoio</span></div>
                    </div>
                </div>
                <div class="row rounded-1 border-1 border-secondary-subtle m-0 p-2">
                    <div class="col d-flex flex-column justify-content-start m-0 p-0">
                        <small class="text-dark-emphasis m-0 p-0">Paciente</small>
                        <a href="{% url 'pessoa:dados_pessoa' apoio.paciente.id %}" class="fw-medium">{{ apoio.paciente}}</a>
                        <hr class="m-0 p-0 me-3">
                    </div>
                    <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                            class="text-dark-emphasis m-0 p-0">Solicitante</small>
                        {% if apoio.solicitante %}
                        <a href="{% url 'pessoa:dados_pessoa' apoio.paciente.id %}" class="fw-medium">
                            {{apoio.solicitante }}</a>
                        {% else %}
                        <span class="fw-medium"> - </span>
                        {% endif %}
                        <hr class="m-0 p-0 me-3">
                    </div>
                    <div class="col d-flex flex-column justify-content-start m-0 p-0">
                        <div class="d-flex flex-row m-0 p-0">
                            <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Data início</small>
                                <span class="fw-medium">{{ apoio.dataInicio | date:"d/m/Y"}}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Encerramento</small>
                                <span class="fw-medium">{{ apoio.checkOut|date:"d/m/Y H:i" | default:"Aguardando"}}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rounded-1 border-1 border-secondary-subtle m-0 p-2">
                    <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                            class="text-dark-emphasis m-0 p-0">Check-in paciente</small>
                            <span class="fw-medium">{{apoio.checkIn|date:"d/m/Y H:i" | default:"Aguardando" }}</span>
                        <hr class="m-0 p-0 me-3">
                    </div>
                    <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                            class="text-dark-emphasis m-0 p-0">Check-out paciente</small><span class="fw-medium">
                                {{ apoio.checkOut|date:"d/m/Y H:i" | default:"Aguardando" }}</span>
                        <hr class="m-0 p-0 me-3">
                    </div>
                    <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                            class="text-dark-emphasis m-0 p-0">Status apoio</small>
                        {% if apoio.status %}
                        <span class="fw-medium">Ativo</span>
                        {% else %}
                        <span class="fw-medium">Encerrado</span>
                        {% endif %}
                        <hr class="m-0 p-0 me-3">
                    </div>
                    <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                            class="text-dark-emphasis m-0 p-0">Duração prevista</small>
                        <span class="fw-medium">{{ apoio.previsaoFim_tipo }}</span>
                        <hr class="m-0 p-0 me-3">
                    </div>
                    <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                            class="text-dark-emphasis m-0 p-0">Data prevista fim</small>
                        <span class="fw-medium">{{ apoio.previsaoFim| date:"d/m/Y" | default:"-" }}</span>
                        <hr class="m-0 p-0 me-3">
                    </div>
                </div>
                <div class="row rounded-1 border-1 border-secondary-subtle m-0 p-2">
                    <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                            class="text-dark-emphasis m-0 p-0">Descrição do apoio</small>
                            <span class="fw-medium">
                                {{ apoio.motivo }}</span>
                        <hr class="m-0 p-0 me-3">
                    </div>
                </div>
                <div class="d-flex flex-row gap-2 rounded-1 border-1 border-secondary-subtle m-0 p-2">
                    <form method="post" action="{% url 'apoio:checkin_paciente' apoio.id %}">
                        {% csrf_token %}
                        <button class="btn btn-primary link-dark bg-info border-0 m-0 p-1" type="submit">Check-In paciente</button>
                    </form>
                    <form method="post" action="{% url 'apoio:checkout_paciente' apoio.id %}">
                        {% csrf_token %}
                        <button class="btn btn-primary link-dark bg-warning border-0 m-0 p-1" type="submit">Check-Out paciente</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row bg-light rounded-2 border-1 shadow d-flex w-100 justify-content-center m-0 p-0 mt-3 pb-2">
            <div class="col border rounded-2 border-2 border-dark-subtle m-0 p-0 me-1">
                <div class="row bg-dark-subtle border rounded-2 m-0 p-1">
                    <div class="col">
                        <div class="fs-5 fw-bold"><span class="m-0 p-0">Dados de acompanhantes</span></div>
                    </div>
                </div>
                <div class="row d-flex flex-column m-0 p-2">
                    <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                            class="text-dark-emphasis m-0 p-0">Acompanhante atual</small>
                            {% if apoio.acompanhante_atual %}
                            <a href="{% url 'pessoa:dados_pessoa' apoio.paciente.id %}" class="fw-medium">{{ apoio.acompanhante_atual.nomeAcompanhante}}</a>
                            {% else %}
                            <span class="fw-medium"> - </span>
                            {% endif %}
                        <hr class="m-0 p-0 me-3">
                        <div class="d-flex flex-row gap-2 m-0 p-0 mt-2">
                            <form method="post" action="{% url 'apoio:adicionar_acompanhante' apoio.id %}">
                                {% csrf_token %}
                                <button class="btn btn-primary link-dark bg-info border-0 m-0 p-1" type="submit">Adicionar novo</button>
                            </form>
                            <form method="post" action="{% url 'apoio:checkout_acompanhante' apoio.id %}">
                                {% csrf_token %}
                                <button class="btn btn-primary link-dark bg-warning border-0 m-0 p-1" type="submit">Check-out atual</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row d-flex flex-column m-0 p-2">
                    <div class="col">
                        <div class="fs-5 fw-bold"><span class="m-0 p-0">Histórico de acompanhantes</span></div>
                    </div>
                </div>
                {% if apoio.acompanhantes.all %}
                {% for acomp in apoio.acompanhantes.all %}
                <div class="row d-flex flex-column m-0 p-2">
                    <div class="col border rounded-1 border-dark-subtle d-flex flex-column justify-content-start m-0 p-1 mt-1 mb-1">
                        <div class="d-flex flex-row gap-3 m-0 p-0 pt-2">
                            <div class="d-flex flex-column m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Nome</small>
                                    <span class="fw-medium">{{ acomp.nomeAcompanhante }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="d-flex flex-column m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Check-in</small>
                                    <span class="fw-medium">{{ acomp.checkIn | date:"d/m/Y H:i"}}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="d-flex flex-column m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Check-out</small><span
                                    class="fw-medium">{{ acomp.checkOut | date:"d/m/Y H:i" | default:"Aguardando" }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                        </div>
                        <div class="d-flex flex-row gap-3 m-0 p-0 pt-2">
                            <div class="d-flex flex-column m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Vínculo</small><span
                                    class="fw-medium">{{ acomp.vinculo }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="d-flex flex-column m-0 p-0"><small class="text-dark-emphasis m-0 p-0">Descrição
                                    vínculo&nbsp;</small><span class="fw-medium">{{ acomp.descricaoVinculo }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="row d-flex flex-column m-0 p-2">
                    <span class="fw-medium">Sem histórico</span>
                </div>
                {% endif %}
            </div>
            <div class="col border rounded-2 border-2 border-dark-subtle m-0 p-0 ms-1">
                <div class="row bg-dark-subtle border rounded-2 m-0 p-1">
                    <div class="col">
                        <div class="fs-5 fw-bold"><span class="m-0 p-0">Dados de hospedagens</span></div>
                    </div>
                </div>
                <div class="row d-flex flex-column m-0 p-2">
                    <div class="col d-flex flex-column justify-content-start m-0 p-0 mt-1 mb-1"><small
                            class="text-dark-emphasis m-0 p-0">Observações de hospedagem</small>
                            <span class="fw-medium">{{ hospedagem.observacao|default:" - " }}</span>
                        <hr class="m-0 p-0 me-3">
                    </div>
                    <div class="col d-flex flex-column justify-content-start m-0 p-0 mt-1 mb-1">
                        <small class="text-dark-emphasis m-0 p-0">Quarto atual</small>
                        {% for alocacao in hospedagem.hospedagem_alocacao.all %}
                        {% if not alocacao.fimLocacao %}
                        <span class="fw-medium">{{ alocacao.quarto.identificacao }}</span>
                        {% endif %}
                        {% empty %}
                        <span class="fw-medium"> - </span>
                        {% endfor %}
                        <hr class="m-0 p-0 me-3">
                    </div>
                </div>
                <div class="row d-flex flex-column m-0 p-2">
                    <div class="col">
                        <div class="fs-5 fw-bold"><span class="m-0 p-0">Histórico de quartos</span></div>
                    </div>
                </div>
                {% if hospedagem %}
                {% for alocacao in hospedagem.hospedagem_alocacao.all %}
                <div class="row d-flex flex-column m-0 p-2">
                    <div class="col border rounded-1 border-dark-subtle d-flex flex-column justify-content-start m-0 p-1 mt-1 mb-1">
                        <div class="d-flex flex-row gap-3 m-0 p-0 pt-2">
                            <div class="d-flex flex-column m-0 p-0">
                                <small class="text-dark-emphasis m-0 p-0">Quarto</small>
                                <span class="fw-medium">{{ alocacao.quarto.identificacao }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="d-flex flex-column m-0 p-0">
                                <small class="text-dark-emphasis m-0 p-0">entrada</small>
                                <span class="fw-medium">{{ alocacao.inicioLocacao | date:"d/m/Y"}}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="d-flex flex-column m-0 p-0">
                                <small class="text-dark-emphasis m-0 p-0">saída</small>
                                <span class="fw-medium">{{ alocacao.fimLocacao | date:"d/m/Y" | default:"Quarto atual" }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="row d-flex flex-column m-0 p-2">
                    <span class="fw-medium">Sem histórico</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
{% endblock %}