{% extends "base.html" %}
{% block content %}
<body class="d-flex flex-row m-0 p-0">
    <div class="container-fluid w-100 vh-100 overflow-auto m-0 p-4" style="background: rgb(242,242,242);">
        <form class="d-flex flex-column" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row m-0 p-0">
                <div class="col m-0 p-2"><small class="m-0 p-0">Apoios &gt; Editar apoio</small>
                    <h2 class="fw-bold">Editar apoio nº{{apoio.id}} ({{ apoio.paciente}})</h2>
                </div>
                <div class="col d-flex flex-row justify-content-end align-items-center gap-2 m-0 p-2">
                    <button class="btn btn-primary bg-success border-0" type="submit">Salvar edição</button>
                    <a href="{% url 'apoio:detalhe' apoio.id %}" class="btn btn-primary bg-dark border-0" type="submit">Cancelar</a>
                </div>
            </div>
            <div class="row bg-light rounded-2 border-1 shadow d-flex w-100 justify-content-center m-0 p-0 mt-3">
                <div class="col border rounded-2 m-0 p-0">
                    <div class="row bg-dark-subtle border rounded-2 m-0 p-1">
                        <div class="col">
                            <div class="fs-5 fw-bold"><span class="m-0 p-0">Dados do apoio</span></div>
                        </div>
                    </div>
                    <div class="row rounded-1 border-1 border-secondary-subtle d-flex flex-row justify-content-center align-items-start m-0 p-1">
                        <div class="col d-flex flex-column justify-content-start m-0 p-2"><small class="text-dark-emphasis m-0 p-0">Solicitante apoio</small>
                            {{ form.solicitante }}
                        </div>
                        <div class="col d-flex flex-column justify-content-start m-0 p-2"><small class="text-dark-emphasis m-0 p-0">Duração do apoio</small>
                            <span class="fw-medium">
                                {{ form.previsaoFim_tipo }}
                            </span>
                        </div>
                        <div class="col-3 d-flex flex-column justify-content-start m-0 p-2"><small class="text-dark-emphasis m-0 p-0">Data prev. encerramento</small>
                            <span class="fw-medium">{{ form.previsao_fim }}</span></div>
                    </div>
                    <div class="row rounded-1 border-1 border-secondary-subtle d-flex flex-row justify-content-center align-items-start m-0 p-1">
                        <div class="col d-flex flex-column justify-content-start m-0 p-2"><small class="text-danger m-0 p-0">Descrição do apoio</small>
                            {{ form.motivo_apoio }}
                        </div>
                    </div>
                    <div class="row rounded-1 border-1 border-secondary-subtle d-flex flex-row justify-content-start align-items-start m-0 p-1">
                        <div class="col-3 d-flex flex-column gap-2 m-0 p-1">
                            <small class="text-dark-emphasis m-0 p-0">Anexo (apenas 1 arquivo)</small>
                            <div class="d-flex flex-row justify-content-left gap-2 m-0 p-0">
                                <button
                                    type="button"
                                    class="btn btn-primary link-dark bg-warning border-0 m-0 p-1"
                                    onclick="document.getElementById('id_anexo').click()">
                                    Upload
                                </button>
                            </div>
                            {{ form.anexo }}
                            <input
                                type="hidden"
                                name="remover_anexo"
                                id="remover_anexo"
                                value="0">
                            <div
                                id="nome-anexo"
                                class="d-flex flex-row align-items-center gap-2 mt-1">
                                {% if anexo %}
                                {% for arquivo in anexo %}
                                    <span class="text-truncate">
                                        <a href="{{ arquivo.arquivo.url }}" target="_blank" class="d-flex align-items-center m-0 p-0">{{ arquivo.nome_arquivo }}</a>
                                    </span>
                                    {% endfor %}
                                    <button
                                        type="button"
                                        class="btn btn-sm btn-danger p-0 px-1"
                                        onclick="removerAnexo()">
                                        X
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                        <div
                            id="campo-nome-anexo"
                            class="col flex-column m-0 p-1"
                            {% if not anexo %}style="display: none;"{% endif %}>
                            <small class="text-danger m-0 p-0">
                                Nome para o arquivo *
                            </small>
                            {{ form.nome_anexo }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bg-light rounded-2 border-1 shadow d-flex w-100 justify-content-center m-0 p-0 mt-3">
                <div class="col border rounded-2 m-0 p-0">
                    <div class="row bg-dark-subtle border rounded-2 m-0 p-1">
                        <div class="col">
                            <div class="fs-5 fw-bold"><span class="m-0 p-0">Gerar/editar hospedagem</span></div>
                        </div>
                    </div>
                    <div class="row rounded-1 border-1 border-secondary-subtle d-flex flex-row justify-content-center align-items-start m-0 p-2">
                        <div class="col-3 d-flex flex-column justify-content-start m-0 p-2">
                            <small class="text-dark-emphasis m-0 p-0">Quarto</small>
                            {{ form.quarto }}
                            <div class="d-flex flex-row align-items-center gap-1 m-0 p-0">
                                <a href="{% url 'apoio:selecionar_quarto' %}?origem=editar&apoio_id={{ apoio.id }}" class="btn btn-primary fw-semibold link-dark bg-warning border-0" type="submit">Selecionar</a>
                                {% if quarto_selecionado %}
                                <a href="{% url 'apoio:editar_apoio' apoio.id %}" class="btn btn-outline-danger btn-sm">Limpar</a>
                            </div>
                            <div class="d-flex flex-row align-items-center gap-1 m-0 p-0">
                                <span class="fw-medium">
                                    {{ quarto_selecionado.identificacao }} • {{ quarto_selecionado.vagasLivres }} vagas livres
                                </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col d-flex flex-column justify-content-start m-0 p-2">
                            <small class="text-dark-emphasis m-0 p-0">Observações para hospedagem</small>
                            {{ form.descHospedagem }}
                        </div>
                        <div class="col-3 d-flex flex-column justify-content-start m-0 p-2">
                            <small class="text-dark-emphasis m-0 p-0">Início hospedagem</small>
                            <span class="fw-medium">{{ form.inicio_alocacao }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
<script>
    new TomSelect(
        "#id_solicitante",
        {
            create: false,
            maxOptions: 10,
            hideSelected: true,
            openOnFocus: false,
        });
</script>
<script>
    const inputAnexo = document.getElementById('id_anexo');
    const nomeAnexo = document.getElementById('nome-anexo');
    const campoNomeAnexo = document.getElementById('campo-nome-anexo');

    inputAnexo.addEventListener('change', function () {

        const arquivo = this.files[0];

        if (!arquivo) {
            nomeAnexo.innerHTML = '';
            campoNomeAnexo.style.display = 'none';
            return;
        }
        document.getElementById('remover_anexo').value = '0';
        nomeAnexo.innerHTML = `
            <span class="text-truncate">
                ${arquivo.name}
            </span>

            <button
                type="button"
                class="btn btn-sm btn-danger p-0 px-1"
                onclick="removerAnexo()">
                X
            </button>
        `;

        campoNomeAnexo.style.display = '';
    });


    function removerAnexo() {

        inputAnexo.value = '';

        nomeAnexo.innerHTML = '';

        campoNomeAnexo.style.display = 'none';
        document.getElementById('remover_anexo').value = '1';
    }
</script>
{% endblock %}