{% extends "base.html" %}
{% load static %}
{% block content %}

<body class="d-flex flex-row m-0 p-0">
    <div class="container-fluid w-100 vh-100 overflow-auto m-0 p-4" style="background: rgb(242,242,242);">
        <div class="row m-0 p-0">
            <div class="col m-0 p-2"><small class="m-0 p-0">Pessoa &gt; dados</small>
                <h2 class="fw-bold">{{pessoa.nome_pessoa}}</h2>
            </div>
            <div class="col d-flex flex-row justify-content-end align-items-center gap-2 m-0 p-2">
                <a href="{% url 'pessoa:editar_pessoa' pessoa.id %}" class="btn btn-primary bg-primary border-0" type="submit">Editar pessoa</a>
            </div>
        </div>
        <div class="row bg-light rounded-2 border-1 shadow d-flex w-100 justify-content-center m-0 p-0 mt-3">
            <div class="col border rounded-2 m-0 p-0">
                <div class="row bg-dark-subtle border rounded-2 m-0 p-1">
                    <div class="col">
                        <div class="fs-5 fw-bold"><span class="m-0 p-0">Dados pessoais</span></div>
                    </div>
                </div>
                <div class="row rounded-1 border-1 border-secondary-subtle m-0 p-2">
                    <div class="col-2 d-flex flex-column justify-content-start align-items-center m-0 p-0">
                        {% with foto=pessoa.foto_perfil.first %}
                        {% if foto %}
                        <img class="border rounded-circle border-2 border-dark-subtle m-0 p-0"
                            src="{{ foto.arquivo.url }}" 
                            width="150" height="150"
                            style="object-fit: cover; object-position: center;">
                        {% else %}
                        <img class="border rounded-circle border-2 border-dark-subtle m-0 p-0"
                            src="{% static 'assets/img/user.png' %}" 
                            width="150" height="150">
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col d-flex flex-column justify-content-start m-0 p-0">
                        <div class="row rounded-1 border-1 border-secondary-subtle m-0 p-2">
                            <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Nome</small><span
                                    class="fw-medium">{{pessoa.nome_pessoa}}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">CPF</small><span
                                    class="fw-medium">{{ pessoa.cpf_pessoa }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="col m-0 p-0">
                                <div class="d-flex flex-row m-0 p-0">
                                    <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                                            class="text-dark-emphasis m-0 p-0">Sexo</small><span
                                            class="fw-medium">{{ pessoa.get_sexo_pessoa_display }}</span>
                                        <hr class="m-0 p-0 me-3">
                                    </div>
                                    <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                                            class="text-dark-emphasis m-0 p-0">Data cadastro</small><span
                                            class="fw-medium">{{ pessoa.dataCadastro | date:"d/m/Y"}}</span>
                                        <hr class="m-0 p-0 me-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row rounded-1 border-1 border-secondary-subtle m-0 p-2">
                            <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Data nascimento</small><span
                                    class="fw-medium">{{ pessoa.dataNasc_pessoa | date:"d/m/Y"}}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Idade</small>
                                    <span class="fw-medium">{{ pessoa.idade }} anos</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Nacionalidade</small><span
                                    class="fw-medium">{{ pessoa.get_nacionalidade_pessoa_display }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Telefone</small><span
                                    class="fw-medium">{{ pessoa.telefone_pessoa }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                        </div>
                        <div class="row rounded-1 border-1 border-secondary-subtle m-0 p-2">
                            <div class="col-5 d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Email</small><span
                                    class="fw-medium">{{ pessoa.email_pessoa|default:"-" }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Observações</small>
                                    <span class="fw-medium">{{ pessoa.descricao_pessoa|default:"Sem observações" }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-light rounded-2 border-1 shadow d-flex w-100 justify-content-center m-0 p-0 mt-3">
            <div class="col border rounded-2 m-0 p-0">
                <div class="row bg-dark-subtle border rounded-2 m-0 p-1">
                    <div class="col">
                        <div class="fs-5 fw-bold"><span class="m-0 p-0">Endereço atual</span></div>
                    </div>
                </div>
                <div class="row rounded-1 border-1 border-secondary-subtle m-0 p-2">
                    <div class="col d-flex flex-column justify-content-start m-0 p-0">
                        <div class="row rounded-1 border-1 border-secondary-subtle m-0 p-2">
                            <div class="col-1 d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">País</small><span class="fw-medium">{{ pessoa.endereco.bairro.cidade.estado.pais }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="col-2 d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">cep</small><span
                                    class="fw-medium">{{ pessoa.endereco.cep }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="col-2 d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Estado</small><span class="fw-medium">{{ pessoa.endereco.bairro.cidade.estado }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Cidade</small><span
                                    class="fw-medium">{{ pessoa.endereco.bairro.cidade }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Bairro</small><span
                                    class="fw-medium">{{ pessoa.endereco.bairro }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                        </div>
                        <div class="row rounded-1 border-1 border-secondary-subtle m-0 p-2">
                            <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Logradouro</small><span
                                    class="fw-medium">{{ pessoa.endereco.logradouro }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="col-1 d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Número</small><span class="fw-medium">{{ pessoa.endereco.numero | default:" - " }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Complemento</small>
                                    <span class="fw-medium">{{ pessoa.endereco.complemento }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                        </div>
                        <div class="row rounded-1 border-1 border-secondary-subtle m-0 p-2">
                            <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Descrição</small><span
                                    class="fw-medium">{{ pessoa.endereco.descricao | default:" - "}}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-light rounded-2 border-1 shadow d-flex w-100 justify-content-center m-0 p-0 mt-3">
            <div class="col border rounded-2 m-0 p-0">
                <div class="row bg-primary-subtle border rounded-2 m-0 p-1">
                    <div class="col">
                        <div class="fs-5 fw-bold"><span class="fs-4 m-0 p-0">Histórico de apoios</span></div>
                    </div>
                </div>
                <div class="row rounded-1 border-1 border-secondary-subtle d-flex flex-column gap-2 m-0 p-2">
                    {% if apoios %}
                    {% for item in apoios %}
                    <div class="col bg-primary-subtle border rounded-2 border-info d-flex flex-column justify-content-start m-0 p-0">
                        <div class="row rounded-1 border-1 border-secondary-subtle m-0 p-2">
                            <div class="col-1 d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">ID apoio</small><span
                                    class="fw-medium">{{ item.apoio.id }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="col-5 d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Paciente</small>
                                    <span class="fw-medium">{{ item.apoio.paciente }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="col-3 d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Participação</small><span
                                    class="fw-medium">{{ item.participacao }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="col-2 d-flex flex-column justify-content-start m-0 p-0">
                                <small class="text-dark-emphasis m-0 p-0">Status apoio</small>
                                <span class="fw-medium">
                                    {% if item.apoio.status %}
                                    <span class="badge bg-success">
                                        Ativo
                                    </span>
                                    {% else %}
                                    <span class="badge bg-secondary">
                                        Encerrado
                                    </span>
                                    {% endif %}
                                </span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="col-1 d-flex flex-column justify-content-center align-items-center m-0 p-0">
                                <a href="{% url 'apoio:detalhe' item.apoio.id %}" class="btn btn-primary link-dark bg-warning border-0 d-flex justify-content-center align-items-center m-0 p-1"
                                    type="submit">Abrir</a>
                                <hr class="m-0 p-0 me-3">
                            </div>
                        </div>
                        <div class="row rounded-1 border-1 border-secondary-subtle m-0 p-2">
                            <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Data início</small><span
                                    class="fw-medium">{{ item.apoio.dataInicio|date:"d/m/Y" }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Data fim</small>
                                    <span class="fw-medium">{{ item.checkout|date:"d/m/Y"|default:"-" }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Check-in</small><span
                                    class="fw-medium">{{ item.checkin|date:"d/m/Y H:i"|default:"-" }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                            <div class="col d-flex flex-column justify-content-start m-0 p-0"><small
                                    class="text-dark-emphasis m-0 p-0">Check-Out</small><span
                                    class="fw-medium">{{ item.checkout|date:"d/m/Y H:i"|default:"-" }}</span>
                                <hr class="m-0 p-0 me-3">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="col-1 d-flex flex-column justify-content-start m-0 p-0">
                        <span class="fw-medium">Sem histórico</span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
{% endblock %}