{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="mb-4">
        <small class="text-muted">Pessoa > Editar pessoa</small>
        <h1 class="fw-bold mt-2">{{pessoa.nome_pessoa}}</h1>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="card border-primary shadow-sm mb-3">
            <div class="card-header bg-primary-subtle">
                <strong>Editar informações</strong>
            </div>
            <div class="card-body">
                <div class="row g-3 align-items-start">
                    <!-- NOME -->
                    <div class="col-md-4">
                        <label class="form-label">* Nome completo:</label>
                        {{ form.nome_pessoa }}
                    </div>
                    <!-- CPF -->
                    <div class="col-md-2">
                        <label class="form-label">* CPF:
                        </label>{{ form.cpf_pessoa }}
                    </div>
                    <!-- EMAIL -->
                    <div class="col-md-3">
                        <label class="form-label">Email:</label>
                        {{ form.email_pessoa }}
                    </div>
                    <!-- OBS -->
                    <div class="col-md-3">
                        <label class="form-label">Outras informações:</label>
                        {{ form.descricao_pessoa }}
                    </div>
                </div>
                <div class="row g-3">
                    <!-- SEXO -->
                    <div class="col-md-1">
                        <label class="form-label">* Sexo:</label>
                        {{ form.sexo_pessoa }}
                    </div>
                    <!-- NACIONALIDADE -->
                    <div class="col-md-2">
                        <label class="form-label">* Nacionalidade:</label>
                        {{ form.nacionalidade_pessoa }}
                    </div>
                    <!-- DATA -->
                    <div class="col-md-2">
                        <label class="form-label">* Data de nascimento:</label>
                        {{ form.dataNasc_pessoa }}
                    </div>
                    <!-- IDADE -->
                    <div class="col-md-1">
                        <label class="form-label">* Idade</label>
                        <input type="text" class="form-control" value="{{ idade|default:'' }}" readonly>
                    </div>
                    <!-- TELEFONE -->
                    <div class="col-md-2">
                        <label class="form-label">* Telefone:</label>
                        {{ form.telefone_pessoa }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-primary shadow-sm">
            <div class="card-header bg-primary-subtle">
                <strong>Endereço</strong>
            </div>
            <div class="card-body">
                <div class="row g-3 align-items-start mb-2">
                    <div class="col-md-3">
                        <label class="form-label">Pais:</label>
                        {{ form_end.pais }}
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">CEP:</label>
                        {{ form_end.cep }}
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Estado:</label>
                        {{ form_end.estado }}
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Cidade:</label>
                        {{ form_end.cidade }}
                    </div>
                </div>
                <div class="row g-3 align-items-start mb-2">
                    <div class="col-md-4">
                        <label class="form-label">Bairro:</label>
                        {{ form_end.bairro }}
                    </div>
                    <div class="col-md-8">
                        <label class="form-label">Logradouro:</label>
                        {{ form_end.logradouro }}
                    </div>
                </div>
                <div class="row g-3 align-items-start mb-2">
                    <div class="col-md-2">
                        <label class="form-label">Número:</label>
                        {{ form_end.numero }}
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Coplemento:</label>
                        {{ form_end.complemento }}
                    </div>
                    <div class="col-md-8">
                        <label class="form-label">Descrição: (Obrigatório para país estrangeiro)</label>
                        {{ form_end.descricao }}
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <div class="d-flex gap-3">
                <a href="{% url 'pessoa:dados_pessoa' pessoa.id %}" class="btn btn-outline-secondary">
                    Cancelar
                </a>
                <button type="submit" class="btn btn-primary">
                    Salvar alterações
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}